# Ignore virtual environment
ph-venv/

# Ignore saved models and artifacts
*.h5
*.tflite
saved_model_pothole/

# Ignore datasets
*.zip

# Ignore plots, logs, and temp files
training_plot.png
*.log

# Ignore private credentials
kaggle.json
